*
!*/

!^.gitignore
!vim/vimrc
!vim/snippets/**
!/nvim/**
!alacritty/**
!sway/**
!swaylock/**
!/mpd/mpd.conf
!zathura/**
!wallpapers/**
!mpv/*
!mako/*
!fontconfig/**
!fish/config.fish
!fish/functions/
fish/functions/_*
!gtk-3.0/**
!gtk-4.0/**
!scripts/**
!ranger/**
ranger/plugins/**
!wezterm/**
!waybar/**
nvim/lazy-lock.json
nvim/spell/*
